body {
  margin: 0;
  font-family: "Courier New", Courier, monospace, 'Times New Roman', Times, serif;
  /* background: linear-gradient(45deg, red 0%, blue 100%); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
